@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --font-title: "Poppins", sans-serif;
  --font-content: "Inter", sans-serif;

  --background-color: #f9fafb;
  --paragraf-color: #111827;
  --read: #4ade80;
  --to-read: #fbbf24;
  --in-progress: #60a5fa;
  --active: #facc15;
  --emty: #e5e7eb;

  --shadow: rgba(0, 0, 0, 0.05);
  --hover: #f3f4f6;
}
body {
  background-color: var(--background-color);
  min-height: 100vh;
  max-width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: var(--font-content);
  font-size: 1.5rem;
  margin: 0 auto;
}
.container {
  border: 2px solid #d1d5db;
  box-shadow: var(--shadow);
  border-radius: 15px;
  overflow: hidden;
}
h1 {
  font-family: var(--font-title);
  border-bottom: 2px solid #d1d5db;
  padding: 0.5rem;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
}
table {
  border-collapse: collapse;
  font-size: 1rem;
  letter-spacing: 1px;
  
}
th,
td {
  padding: 0.8rem;
  border-bottom: 2px solid #d1d5db;
  color: var(--paragraf-color);
  font-size: 0.8rem;
}
thead {
  text-align: left;
}

tr[class="read"] {
  background-image: linear-gradient(to right, var(--read), #166534);
}
tr[class="to-read"] {
  background-image: linear-gradient(to right, var(--to-read), #b45309);
}
tr[class="in-progress"] {
  background-image: linear-gradient(to right, var(--in-progress), #1d4ed8);
}

.read:hover,
.in-progress:hover,
.to-read:hover {
  transform: scale(1.01);
  box-shadow: var(--hover);
}

span {
  display: inline-block;
}
tr[class="read"] span[class="status"] {
  border: 2px solid var(--read);
  background-image: linear-gradient(to right, var(--read), #166534);
}
tr[class="to-read"] span[class="status"] {
  border: 2px solid var(--to-read);
  background-image: linear-gradient(to right, var(--to-read), #b45309);
}
tr[class="in-progress"] span[class="status"] {
  border: 2px solid var(--in-progress);
  background-image: linear-gradient(to right, var(--in-progress), #1d4ed8);
}

span[class="status"],
span[class^="rate"] {
  height: auto;
  width: auto;
  min-width: 80px;
  padding: 5px;
  text-align: center;
  border-radius: 4px;
}

span[class^="rate"] > span {
  border: 2px solid #d1d5db;
  border-radius: 50%;
  margin: 0 2px;
  height: 15px;
  width: 15px;
  background-color: var(--emty);
}
span[class*="one"] span:nth-child(1) {
  background-image: linear-gradient(var(--active), #eab308);
}
span[class*="two"] span:nth-child(-n + 2) {
  background-image: linear-gradient(var(--active), #eab308);
}
span[class*="three"] span:nth-child(n) {
  background-image: linear-gradient(var(--active), #eab308);
}
